<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="#{Email.FromAddress}">
        <network host="#{Email.SmtpHost}" port="#{Email.SmtpPort}" 
                 userName="#{Email.SmtpUsername}" 
                 password="#{Email.SmtpPassword}" 
                 enableSsl="#{Email.SmtpEnableSsl}" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <elmah>
    <errorMail xdt:Transform="Replace" from="#{Email.FromAddress}" to="#{elmah.ErrorEmailRecipients}"
               subject="#{elmah.ErrorEmailSubject}" async="true" smtpPort="0"/>
  </elmah>
    
</configuration>
