<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MatchGuideDb" connectionString="Server=.;Database=MatchGuideDev;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- SendGrid template IDs -->
    <add key="Email.ContactAlumniTemplateId" value="2b727004-d8aa-4cea-a01e-f91e4be38dfa"/>
  </appSettings>
</configuration>