@using SiSystems.ClientApp.Web
@{
    ViewBag.Title = "API Test Page";
}
@section styles{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <style type="text/css">
        .code {
            margin-top: 15px;
            white-space: pre;
        }

        .needs-auth {
            opacity: 0.2;
        }

        #error {
            position: fixed;
            top: 50px;
        }

        .tab-content {
            padding-top: 25px;
        }

        .clickable {
            text-decoration: underline;
            cursor: pointer;
        }
        .error {
            background: #b90707; color: white; padding: 10px;
        }
    </style>
}
<div class="row">
    <h3>Authenticate</h3>
    <form id="loginForm" class="col-sm-12">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="username" class="control-label col-md-2">Email Address:</label>
                <div class="col-md-10">
                    <input id="username" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="control-label col-md-2">Password:</label>
                <div class="col-md-10">
                    <input id="password" type="password" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Authenticate" class="btn btn-success pull-right" />
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="token" class="code json well">
        </div>
    </form>
</div>

<div class="row needs-auth">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#search" role="tab" data-toggle="tab">Alumni Search</a></li>
            <li role="presentation"><a id="detailsTabButton" href="#details" role="tab" data-toggle="tab">Consultant Details</a></li>
        </ul>

        <div class="tab-content">
            <div id="search" role="tabpanel" class="tab-pane active">
                <div class="input-group">
                    <input id="searchText" type="text" class="form-control" placeholder="Enter an alumni name or partial to search for (ex. 'Tom' or 'Cand')" />
                    <div class="input-group-btn">
                        <button id="searchButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="searchResults" class="code json well">
                </div>
            </div>

            <div id="details" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="consultantId" type="text" class="form-control" placeholder="Enter a consultant ID (hint: find one in the search first)" />
                    <div class="input-group-btn">
                        <button id="getDetailsButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="detailResults" class="code json well">
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>
        (function() {

            $('#username').val('bob.smith@email.com');
            $('#password').val('password');

            function showError(jqXHR, elmId) {
                var section = $('#' + elmId);
                section.html('<div class="error">ERROR</div>' + formatObject(jqXHR));
                section.each(function (i, block) {
                    hljs.highlightBlock(block);
                });
            }

            //function clearError() {
            //    $('#error').text('').hide();
            //}

            function formatObject(obj) {
                return JSON.stringify(obj, null, 4)
                    .replace(/\n/g, '<br>');
            }

            var page = {
                token: null,
                login: function() {
                    $('#token').html('Authenticating...');

                    var loginData = {
                        grant_type: 'password',
                        username: $('#username').val(),
                        password: $('#password').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '@(Settings.LoginTokenEndpoint)',
                        data: loginData
                    }).done(function(data) {
                        page.token = data.access_token;

                        var section = $('#token');
                        section.html(formatObject(data));

                        section.each(function(i, block) {
                            hljs.highlightBlock(block);
                        });

                        $('.needs-auth').removeClass('needs-auth');
                        //self.user(data.userName);
                        // Cache the access token in session storage.
                        //sessionStorage.setItem(tokenKey, data.access_token);
                    }).fail(function(err) { showError(err, 'token'); });
                },
                search: function () {

                    $('#searchResults').html('Searching..');
                    var query = encodeURIComponent($('#searchText').val());

                    $.ajax({
                            type: 'GET',
                            url: '/api/consultants/alumni/?query=' + query,
                            headers: {
                                Authorization: 'Bearer ' + page.token
                            }
                        })
                        .done(function(data) {
                            var section = $('#searchResults');

                            section.html(formatObject(data));

                            section.each(function(i, block) {
                                hljs.highlightBlock(block);
                            });

                            $('#searchResults').children('span:contains("id")').find('span.hljs-number')
                                .addClass('clickable')
                                .click(function(e) {
                                    $('#consultantId').val($(this).text());
                                    page.getDetails();
                                    $('#detailsTabButton').click();
                                });

                        }).fail(function(err) { showError(err, 'searchResults'); });
                },
                getDetails: function() {

                    $('#detailResults').html('Fetching..');
                    var id = $('#consultantId').val();

                    $.ajax({
                            type: 'GET',
                            url: '/api/consultants/alumni/' + id,
                            headers: {
                                Authorization: 'Bearer ' + page.token
                            }
                        })
                        .done(function(data) {
                            var section = $('#detailResults');

                            section.html(formatObject(data));

                            section.each(function(i, block) {
                                hljs.highlightBlock(block);
                            });


                        }).fail(function (err){showError(err, 'detailResults')});
                }
            };

            $('#loginForm').submit(function(e) {
                page.login();
                e.preventDefault();
            });

            $('#searchButton').click(page.search);
            $('#getDetailsButton').click(page.getDetails);

            $('#username, #password').on('keydown', function(e) {
                if (e.keyCode == 13) {
                    page.login();
                }
            });

            $('#searchText').on('keydown', function(e) {
                if (e.keyCode == 13) {
                    page.search();
                }
            });
            $('#consultantId').on('keydown', function(e) {
                if (e.keyCode == 13) {
                    page.getDetails();
                }
            });
        }());
    </script>
}
