@using SiSystems.ClientApp.Web
@{
    ViewBag.Title = "API Test Page";
}
@section styles{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <style type="text/css">
        .code {
            margin-top: 15px;
            white-space: pre;
        }

        .needs-auth {
            opacity: 0.2;
        }

        #error {
            position: fixed;
            top: 50px;
        }

        .tab-content {
            padding-top: 25px;
        }

        .clickable {
            text-decoration: underline;
            cursor: pointer;
        }

        .error {
            background: #b90707;
            color: white;
            padding: 10px;
        }

        .space {
            margin-top: 5px;
        }
        textarea {
            min-height: 100px;
        }
    </style>
}
<div class="row">
    <form id="loginForm" class="col-sm-12">
        <h3>Authenticate</h3>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="username" class="control-label col-md-2">Email Address:</label>
                <div class="col-md-10">
                    <input id="username" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="control-label col-md-2">Password:</label>
                <div class="col-md-10">
                    <input id="password" type="password" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Authenticate" class="btn btn-success pull-right" />
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="token" class="code json well">
        </div>
    </form>
</div>

<div class="row needs-auth">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#search" role="tab" data-toggle="tab">Alumni Search</a></li>
            <li role="presentation"><a id="detailsTabButton" href="#details" role="tab" data-toggle="tab">Consultant Details</a></li>
            <li role="presentation"><a id="contactTabButton" href="#contact" role="tab" data-toggle="tab">Contact</a></li>
            <li role="presentation"><a id="specializationTabButton" href="#specialization" role="tab" data-toggle="tab">Specializations</a></li>
            <li role="presentation"><a id="timesheetsTabButton" href="#timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
            <li role="presentation"><a id="payPeriodsTabButton" href="#payPeriods" role="tab" data-toggle="tab">PayPeriods</a></li>
            <li role="presentation"><a id="dashboardTabButton" href="#dashboard" role="tab" data-toggle="tab">IM Si Dashboard</a></li>
            <li role="presentation"><a id="consultantContractsTabButton" href="#consultantContracts" role="tab" data-toggle="tab">Consultant Contracts</a></li>
            <li role="presentation"><a id="consultantContractDetailsTabButton" href="#consultantContractDetails" role="tab" data-toggle="tab">Contract Details</a></li>
            <li role="presentation"><a id="jobsTabButton" href="#jobs" role="tab" data-toggle="tab">Jobs</a></li>
            <li role="presentation"><a id="jobDetailsTabButton" href="#jobDetails" role="tab" data-toggle="tab">Job Details</a></li>
            <li role="presentation"><a id="timesheetSummariesTabButton" href="#timesheetSummaries" role="tab" data-toggle="tab">TimesheetSummaries</a></li>
            <li role="presentation"><a id="timesheetContactsTabButton" href="#timesheetContacts" role="tab" data-toggle="tab">Timesheet Contacts</a></li>
            <li role="presentation"><a id="contractorTabButton" href="#contractor" role="tab" data-toggle="tab">Contractor</a></li>
            <li role="presentation"><a id="userContactTabButton" href="#userContact" role="tab" data-toggle="tab">UserContact</a></li>
            <li role="presentation"><a id="aeSearchTabButton" href="#aeSearch" role="tab" data-toggle="tab">Contact Search</a></li>
            <li role="presentation"><a id="colleaguesTabButton" href="#colleagues" role="tab" data-toggle="tab">Colleagues</a></li>
        </ul>

        <div class="tab-content">
            <div id="search" role="tabpanel" class="tab-pane active">
                <div class="input-group">
                    <input data-search-type="alumni" id="searchText" type="text" class="form-control" placeholder="Enter an alumni name or partial to search for (ex. 'Tom' or 'Cand')" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="searchButton">Search Alumni</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><button onclick="$('#searchButton').data('search-type', 'alumni').text('Search Alumni')" type="button" class="btn btn-link" id="alumni-option">Search Alumni</button></li>
                            <li><button onclick ="$('#searchButton').data('search-type', 'active').text('Search Active')" type="button" class="btn btn-link" id="active-option">Search Active</button></li>
                        </ul>
                    </div>
                </div>
                <div id="searchResults" class="code json well">
                </div>
            </div>

            <div id="details" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="consultantId" type="text" class="form-control" placeholder="Enter a consultant ID (hint: find one in the search first)" />
                    <div class="input-group-btn">
                        <button id="getDetailsButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="detailResults" class="code json well">
                </div>
            </div>

            <div id="contact" role="details" class="tab-pane">
                <div>
                    <input id="contactConsultantId" type="text" class="form-control space" placeholder="Enter a consultant ID (hint: find one in the search first)"/>
                    <textarea id="contactMessage" class="form-control space"></textarea>
                    <button id="sendMessageButton" class="btn btn-primary pull-right space">Send</button>
                    <div class="clearfix"></div>
                </div>
                <div id="contactResults" class="code json well">
                </div>
            </div>

            <div id="specialization" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="specializationId" type="text" class="form-control" placeholder="Enter a specialization ID (or leave this blank to get them all)"/>
                    <div class="input-group-btn">
                        <button id="getSpecializationsButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="specializationResults" class="code json well">
                </div>
            </div>

            <div id="timesheets" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="timesheetsId" type="text" class="form-control" placeholder="Enter a date"/>
                    <div class="input-group-btn">
                        <button id="getTimesheetsButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="timesheetsResults" class="code json well">
                </div>
            </div>

            <div id="payPeriods" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="payPeriodsId" type="text" class="form-control" placeholder=""/>
                    <div class="input-group-btn">
                        <button id="getPayPeriodsButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="payPeriodsResults" class="code json well">
                </div>
            </div>

            <div id="dashboard" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="dashboardId" type="text" class="form-control" placeholder="" disabled/>
                    <div class="input-group-btn">
                        <button id="getDashboardButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="dashboardResults" class="code json well">
                </div>
            </div>

            <div id="consultantContracts" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="consultantContractId" type="text" class="form-control" placeholder="" disabled/>
                    <div class="input-group-btn">
                        <button id="getConsultantContractsButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="consultantContractsResults" class="code json well">
                </div>
            </div>

            <div id="consultantContractDetails" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="consultantContractDetailsId" type="text" class="form-control" placeholder="" />
                    <div class="input-group-btn">
                        <button id="getConsultantContractDetailsButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="consultantContractDetailsResults" class="code json well">
                </div>
            </div>

            <div id="jobDetails" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="jobDetailsId" type="text" class="form-control" placeholder=""/>
                    <div class="input-group-btn">
                        <button id="getJobDetailsButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="jobDetailsResults" class="code json well">
                </div>
            </div>

            <div id="jobs" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="jobsId" type="text" class="form-control" placeholder="" disabled/>
                    <div class="input-group-btn">
                        <button id="getJobsButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="jobsResults" class="code json well">
                </div>
            </div>

            <div id="timesheetSummaries" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="timesheetSummariesId" type="text" class="form-control" placeholder="" disabled/>
                    <div class="input-group-btn">
                        <button id="timesheetSummariesButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="timesheetSummariesResults" class="code json well">
                </div>
            </div>

            <div id="timesheetContacts" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="timesheetContactsId" type="text" class="form-control" placeholder=""/>
                    <div class="input-group-btn">
                        <button id="timesheetContactsButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="timesheetContactsResults" class="code json well">
                </div>
            </div>

            <div id="contractor" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="contractorId" type="text" class="form-control" placeholder=""/>
                    <div class="input-group-btn">
                        <button id="contractorButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="contractorResults" class="code json well">
                </div>
            </div>

            <div id="userContact" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="userContactId" type="text" class="form-control" placeholder=""/>
                    <div class="input-group-btn">
                        <button id="userContactButton" type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <div id="userContactResults" class="code json well">
                </div>
            </div>
            <div id="aeSearch" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="aeSearchId" type="text" class="form-control" placeholder=""/>
                    <div class="input-group-btn">
                        <button id="aeSearchButton" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div id="aeSearchResults" class="code json well">
                </div>
            </div>
            <div id="colleagues" role="details" class="tab-pane">
                <div class="input-group">
                    <input id="colleaguesId" type="text" class="form-control" placeholder="" disabled/>
                    <div class="input-group-btn">
                        <button id="colleaguesButton" type="button" class="btn btn-primary">Find Colleagues</button>
                    </div>
                </div>
                <div id="colleaguesResults" class="code json well">
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>
        (function () {

            $('#username').val('bob.smith@email.com');
            $('#password').val('password');

            function showError(jqXHR, elmId) {
                var section = $('#' + elmId);
                section.html('<div class="error">ERROR</div>' + formatObject(jqXHR));
                section.each(function (i, block) {
                    hljs.highlightBlock(block);
                });
            }

            function formatObject(obj) {
                return JSON.stringify(obj, null, 4)
                    .replace(/\n/g, '<br>');
            }

            var page = {
                token: null,
                login: function () {
                    $('#token').html('Authenticating...');

                    var loginData = {
                        grant_type: 'password',
                        username: $('#username').val(),
                        password: $('#password').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '@(Settings.LoginTokenEndpoint)',
                        data: loginData
                    }).done(function (data) {
                        page.token = data.access_token;

                        var section = $('#token');
                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });

                        $('.needs-auth').removeClass('needs-auth');
                        //self.user(data.userName);
                        // Cache the access token in session storage.
                        //sessionStorage.setItem(tokenKey, data.access_token);
                    }).fail(function (err) { showError(err, 'token'); });
                },
                search: function () {

                    $('#searchResults').html('Searching..');
                    var query = encodeURIComponent($('#searchText').val());
                    
                    var url = '/api/consultants/' + ($('#searchButton').data('search-type') || 'alumni');

                    $.ajax({
                        type: 'GET',
                        url: url + '?query=' + query,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#searchResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });

                        $('#searchResults').children('span:contains("id")').find('span.hljs-number')
                            .addClass('clickable')
                            .click(function (e) {
                                $('#consultantId').val($(this).text());
                                page.getDetails();
                                $('#detailsTabButton').click();
                            });

                    }).fail(function (err) { showError(err, 'searchResults'); });
                },
                getDetails: function () {

                    $('#detailResults').html('Fetching..');
                    var id = $('#consultantId').val();

                    $.ajax({
                        type: 'GET',
                        url: '/api/consultants/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#detailResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'detailResults') });
                },
                sendContactMessage: function () {
                    $('#contactResults').html('Sending...');

                    var message = {
                        consultantId: $('#contactConsultantId').val(),
                        text: $('#contactMessage').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/api/consultantMessages',
                        data: message,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#contactResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'contactResults') });
                },
                getSpecializations: function() {
                    $('#specializationResults').html('Sending...');
                    var id = $('#specializationId').val();

                    $.ajax({
                        type: 'GET',
                        url: '/api/specializations/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#specializationResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'specializationResults') });
                },
                getTimesheets: function () {
                    $('#timesheetsResults').html('Sending...');
                    var date = $('#timesheetsId').val();

                    $.ajax({
                        type: 'GET',
                        url: '/api/Timesheets/',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#timesheetsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'timesheetsResults') });
                },
                getPayPeriods: function () {
                    $('#payPeriodsResults').html('Sending...');
                    var date = $('#payPeriodsId').val();

                    $.ajax({
                        type: 'GET',
                        url: '/api/PayPeriods/',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#payPeriodsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'payPeriodsResults') });
                },
                getDashboard: function () {
                    $('#dashboardResults').html('Sending...');
                    $.ajax({
                        type: 'GET',
                        url: '/api/Dashboard/',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#dashboardResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'dashboardResults') });
                },

                getConsultantContracts: function () {
                    $('#consultantContractsResults').html('Sending...');
                    $.ajax({
                        type: 'GET',
                        url: '/api/ConsultantContracts/',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#consultantContractsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'consultantContractsResults') });
                },

                getConsultantContractDetails: function () {
                    $('#consultantContractDetailsResults').html('Sending...');
                    var id = $('#consultantContractDetailsId').val();

                    $.ajax({
                        type: 'GET',
                        url: '/api/ConsultantContracts/Details/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#consultantContractDetailsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'consultantContractDetailsResults') });
                },

                getJobDetails: function () {
                    $('#jobDetailsResults').html('Sending...');
                    var id = $('#jobDetailsId').val();

                    $.ajax({
                        type: 'GET',
                        url: '/api/Jobs/Details/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#jobDetailsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'jobDetailsResults') });
                },
                getJobs: function () {
                    $('#jobsResults').html('Sending...');
                    $.ajax({
                        type: 'GET',
                        url: '/api/Jobs/Summaries',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#jobsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'jobsResults') });
                },
                getTimesheetSummaries: function () {
                    $('#timesheetSummariesResults').html('Sending...');
                    $.ajax({
                        type: 'GET',
                        url: '/api/Timesheets/Reporting/Summary',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#timesheetSummariesResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'timesheetSummariesResults') });
                },
                getTimesheetContacts: function () {
                    var id = $('#timesheetContactsId').val();

                    $('#timesheetContactsResults').html('Sending...');
                    $.ajax({
                        type: 'GET',
                        url: '/api/Timesheets/Reporting/Contact/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#timesheetContactsResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'timesheetContactsResults') });
                },
                getContractor: function () {
                    $('#contractorResults').html('Sending...');
                    var id = $('#contractorId').val();
                    $.ajax({
                        type: 'GET',
                        url: '/api/Contractors/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#contractorResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'contractorResults') });
                },
                getUserContact: function () {
                    $('#userContactResults').html('Sending...');
                    var id = $('#userContactId').val();
                    $.ajax({
                        type: 'GET',
                        url: '/api/UserContact/' + id,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#userContactResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'userContactResults') });
                },
                aeSearch: function () {
                    $('#aeSearchResults').html('Sending...');
                    var query = $('#aeSearchId').val();
                    $.ajax({
                        type: 'GET',
                        url: '/api/UserContact/Filter/' + query,
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#aeSearchResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'aeSearchResults') });
                },
                colleagues: function () {
                    $('#colleaguesResults').html('Sending...');
                    $.ajax({
                        type: 'GET',
                        url: '/api/ContractSupport/AccountExecutives',
                        headers: {
                            Authorization: 'Bearer ' + page.token
                        }
                    })
                    .done(function (data) {
                        var section = $('#colleaguesResults');

                        section.html(formatObject(data));

                        section.each(function (i, block) {
                            hljs.highlightBlock(block);
                        });


                    }).fail(function (err) { showError(err, 'colleaguesResults') });
                }
            };

            $('#loginForm').submit(function (e) {
                page.login();
                e.preventDefault();
            });

            $('#searchButton').click(page.search);
            $('#getDetailsButton').click(page.getDetails);
            $('#sendMessageButton').click(page.sendContactMessage);
            $('#getSpecializationsButton').click(page.getSpecializations);
            $('#getTimesheetsButton').click(page.getTimesheets);
            $('#getPayPeriodsButton').click(page.getPayPeriods);
            $('#getDashboardButton').click(page.getDashboard);
            $('#getConsultantContractsButton').click(page.getConsultantContracts);
            $('#getConsultantContractDetailsButton').click(page.getConsultantContractDetails);
            $('#getJobDetailsButton').click(page.getJobDetails);
            $('#getJobsButton').click(page.getJobs);
            $('#timesheetSummariesButton').click(page.getTimesheetSummaries);
            $('#timesheetContactsButton').click(page.getTimesheetContacts);
            $('#contractorButton').click(page.getContractor);
            $('#userContactButton').click(page.getUserContact);
            $('#aeSearchButton').click(page.aeSearch);
            $('#colleaguesButton').click(page.colleagues);

            $('#username, #password').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    page.login();
                }
            });

            $('#searchText').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    page.search();
                }
            });
            $('#consultantId').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    page.getDetails();
                }
            });
        }());
    </script>
}
