@using SiSystems.ClientApp.Web
@{
    ViewBag.Title = "Auth Test Page";
}

<h2>Log In</h2>
<div class="row">
    <div class="col-sm-6" style="word-break: break-all">
        <form id="loginForm">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <label for="username" class="control-label col-md-2">Email Address:</label>
                    <div class="col-md-10">
                        <input id="username" type="text" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label col-md-2">Password:</label>
                    <div class="col-md-10">
                        <input id="password" type="password" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Authenticate" class="btn btn-default"/>
                </div>
            </div>
            <div id="token">
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <input id="searchText" type="text" class="form-control" placeholder="Search alumni"/>
            <div class="input-group-btn">
                <button id="searchButton" type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
        <div id="results">
            
        </div>
    </div>
</div>

<div id="error" style="background: #b90707; color: white; padding: 10px; display: none;"></div>

@section Scripts {
    <script>
        (function () {

            $('#username').val('bob.smith@email.com');
            $('#password').val('password');
            $('#searchText').val('rob');

            function showError(jqXHR) {
                $('#error').text(jqXHR.status + ': ' + jqXHR.statusText).show();
            }

            function clearError() {
                $('#error').text('').hide();
            }

            function formatObject(obj) {
                return JSON.stringify(obj)
                    .replace(/,"/g, ',<br/>    ')
                    .replace(/\{/g, '{<br/>    ')
                    .replace(/\}/g, '<br/>}');
            }

            var page = {
                token: null,
                login: function () {
                    clearError();

                    var loginData = {
                        grant_type: 'password',
                        username: $('#username').val(),
                        password: $('#password').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '@(Settings.LoginTokenEndpoint)',
                        data: loginData
                    }).done(function (data) {
                        page.token = data.access_token;

                        $('#token').html(formatObject(data));
                        //self.user(data.userName);
                        // Cache the access token in session storage.
                        //sessionStorage.setItem(tokenKey, data.access_token);
                    }).fail(showError);
                },
                search: function () {
                    clearError();
                    $('#results').html('Searching..');
                    var query = $('#searchText').val();

                    $.ajax({
                            type: 'GET',
                            url: '/api/consultants/alumni/?query=' + query,
                            headers: {
                                Authorization: 'Bearer ' + page.token
                            }
                        })
                        .done(function(data) {
                        $('#results').html(formatObject(data));
                    }).fail(showError);
                }
            };

            $('#loginForm').submit(function (e) {
                page.login();
                e.preventDefault();
            });

            $('#searchButton').click(page.search);
            $('#searchText').on('keydown', function(e) {
                if (e.keyCode == 13) {
                    page.search();
                }
            })
        }());
    </script>
}
